SUPABASE_URL=https://bqcsrkuswaxxwyhxutue.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxY3Nya3Vzd2F4eHd5aHh1dHVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5NjY3OTUsImV4cCI6MjA2OTU0Mjc5NX0.qQ_wHcTzkPoxM-x8NaPq0Y-nWyunuuVa_99IWTKZ5HA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxY3Nya3Vzd2F4eHd5aHh1dHVlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzk2Njc5NSwiZXhwIjoyMDY5NTQyNzk1fQ.BtT0sC3GiPuWE6IcUWw4cCEI3ihLW9OaRnb1Q7yAcbw